#username{
	font-style: italic;
	color: red;
}
.mini{
	width: 40%;
	border-collapse: collapse;
}
thead th a{
	color: red;
}
#cla_sec{
	width: 50%;
	float: right;
}
.short_hr_cla{
	width: 85%;
}
#classical{
	width: 100%;
}
#classical_container{
	overflow: scroll;
	height: 400px;
}
/*table.imagetable th {
	background:#b5cfd2 url('cell-blue.jpg');
	border-width: 1px;
	padding: 8px;
	border-style: solid;
	border-color: #999999;
}
table.imagetable td {
	background:#dcddc0 url('cell-grey.jpg');
	border-width: 1px;
	padding: 8px;
	border-style: solid;
	border-color: #999999;
}*/