{% extends "base.html" %}

{% block title %}About | Spoj User Tool by nims11{% endblock %}

{% block content %}
<h1>About</h1>
<p>
	Spoj User Tool is an open source Spoj User Stats and comparision tool written in python using Django. This hobby project is my first Django based project aimed to furnish my basic Django skills.
</p>
<p>
	The Github project link can be found in the page footer. Feel free to contribute through pull requests, suggestions and feedbacks (good or bad, I Love them!) and bug reports.
</p>
<p>
	<u>Contact Me:</u><br />
	Email: nimeshghelani[at]gmail[dot]com
</p>

{% endblock %}