<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN">
<html lang="en">
<head>
    <title>{% block title %}{% endblock %}</title>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.8.0/jquery.min.js" type="text/javascript"></script>
    <script src="/static/jquery.tablesorter.js" type="text/javascript"></script>
    {% block head %}{% endblock %}
    <link href='/static/css/base.css' rel='stylesheet' type='text/css'>
    <script type='text/javascript'>
    $(document).ready(function() {
        var curr = $('#topbar').height();
        $('#content').css('margin-top', curr+10);
    });
    </script>
</head>
<body>
<div id='topbar'>
    <a href='/' class='normal_link'><h1>Spoj User Tool</h1></a>
    <p id='credit'>By Nims11</p>
    <hr>
</div>
   	<div id='content'>
    {% block content %}{% endblock %}
	</div>
    <div id='botbar'>
        <nav id='links'>
            <a href="/" class='normal_link'>Home</a> | 
            <a href="/about" class='normal_link'>About</a> | 
            <a href="https://github.com/nims11/Spoj-User-Tool" class='normal_link'>Github</a>
        </nav>
        <footer>&copy; 2012 Nimesh Ghelani</footer>
    </div>
</body>
</html>