<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN">
<html lang="en">
<head>
    <title>{% block title %}{% endblock %}</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" id="metatag">
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.8.0/jquery.min.js" type="text/javascript"></script>
    <script src="/static/jquery.tablesorter.js" type="text/javascript"></script>
    <link href='/static/css/base.css' rel='stylesheet' type='text/css'>
    {% block head %}{% endblock %}
    <script type='text/javascript'>
    $(document).ready(function() {
        var curr = $('#topbar').height();
        $('#content').css('margin-top', curr+10);
        $('.fb-like').css('margin-top', -curr)
    });
    </script>
    <script type="text/javascript">

      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-37860590-1']);
      _gaq.push(['_trackPageview']);

      (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();

    </script>
</head>
<body>

<div id="fb-root"></div>
<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/en_US/all.js#xfbml=1&appId=381500825967";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>

<div id='topbar'>
        <h1><a href='/' class='normal_link'>Spoj User Tool</a></h1>
        <p id='credit'>By Nims11</p>
        <hr>
</div>
<div class="fb-like" data-href="http://spojtool.appspot.com/" data-send="false" data-width="250" data-show-faces="true"></div>
   	<div id='content'>
    {% block content %}{% endblock %}
	</div>
    <div id='botbar'>
    <div id="frameContain">
            <iframe id="links" src="http://ghbtns.com/github-btn.html?user=nims11&repo=Spoj-User-Tool&type=watch&count=true&size=large"
  allowtransparency="true" frameborder="0" scrolling="0" width="110" height="40"></iframe>
  </div>
    </div>
</body>
</html>